<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configuration-item>
		<key>PROCUREMENT</key>
		<value>
			<ConnectionString>server=DESKTOP-7JEI018\MSSQLSERVER2016;Database=PROCUREMENT;User ID=napoleon;Password=@12345;Trusted_Connection=false;MultipleActiveResultSets=true;Max Pool Size=1000;Timeout=50000</ConnectionString>
			<IsDefault>true</IsDefault>
			<Provider>System.Data.SqlClient</Provider>
		</value>
		<description>PROCUREMENT Database</description>
	</configuration-item>
	<configuration-item>
		<key>EFAKTUR</key>
		<value>
			<ConnectionString>server=DESKTOP-7JEI018\MSSQLSERVER2016;Database=EFAKTUR;User ID=napoleon;Password=@12345;Trusted_Connection=false;MultipleActiveResultSets=true;Max Pool Size=1000;Timeout=50000</ConnectionString>
			<IsDefault>false</IsDefault>
			<Provider>System.Data.SqlClient</Provider>
		</value>
		<description>E-faktur Database</description>
	</configuration-item>
	<configuration-item>
		<key>PAS_DB</key>
		<value>
			<ConnectionString>server=DESKTOP-36C1B8J\MSSQLSERVER2016;Database=PAS_DB_QA;User ID=sa;Password=fid123!!;Trusted_Connection=false;MultipleActiveResultSets=true;Max Pool Size=1000;Timeout=50000</ConnectionString>
			<IsDefault>false</IsDefault>
			<Provider>System.Data.SqlClient</Provider>
		</value>
		<description>PAS Database</description>
	</configuration-item>
	<configuration-item>
		<key>SecurityCenter</key>
		<value>
			<ConnectionString>Server=52.77.208.248;Database=GLOBAL_SC_DB_DEV;User ID=sa;Password=Project123!!;Trusted_Connection=false;</ConnectionString>
			<IsDefault>false</IsDefault>
			<Provider>System.Data.SqlClient</Provider>
		</value>
		<description>Security Center database</description>
	</configuration-item>
	<configuration-item>
		<key>SSO</key>
		<value>
			<ConnectionString>Server=52.77.208.248;Database=GLOBAL_SSO_DB_DEV;User ID=sa;Password=Project123!!;Trusted_Connection=false;</ConnectionString>
			<IsDefault>false</IsDefault>
			<Provider>System.Data.SqlClient</Provider>
		</value>
		<description>Security Center database</description>
	</configuration-item>
</configuration>