<form role="form" class="form-horizontal _criteria" id="searchForm">
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="form-group form-group-xs _criteria">
            <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">
              Tax Invoice Date
            </label>
            <div class="col-xs-8 col-sm-9 col-md-8">
                <div class="input-group">
                    <span class="input-group-addon" style="cursor: pointer;"><i class="fa fa-calendar bigger-110">
                    </i></span>
                    <input class="form-control" type="text" name="date-range-picker" id="id-date-range-picker-1"
                        data-date-format="dd.mm.yyyy" />
                </div>
            </div>
        </div>
      @* Complete Date *@
      <div class="form-group form-group-xs _criteria">
          <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">
            Complete Date
          </label>
          <div class="col-xs-8 col-sm-9 col-md-8">
            <div class="input-group">
              <span class="input-group-addon" style="cursor: pointer;">
                <i class="fa fa-calendar bigger-110">
                </i>
              </span>
              <input class="form-control" type="text" name="date-range-picker" id="id-date-range-picker-1"
                  data-date-format="dd.mm.yyyy" />
            </div>
          </div>
        </div>
        <div class="form-group form-group-xs _criteria">
          <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">
            Customer Name
          </label>
          <div class="col-xs-8 col-sm-9 col-md-8">
            @*<input id="txtdesc" type="text" class="form-control" style="height: 26px; width: 210px;" />*@
            @*<input type="text" class="navsearchinput" id="navtxtdesc" autocomplete="off" style="height: 26px; width: 210px;" />*@
            <div class="input-group pos-rel" style="width: 100%;">
              <input id="navtxtdesc" class="form-control autocomplete" type="text" value="" />
            </div>
          </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="form-group form-group-xs _criteria">
            <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">
              Interface Date
            </label>
            <div class="col-xs-8 col-sm-9 col-md-8">
                <div class="input-group">
                    <span class="input-group-addon" style="cursor: pointer;"><i class="fa fa-calendar bigger-110">
                    </i></span>
                    <input class="form-control" type="text" name="date-range-picker" id="id-date-range-picker-1"
                        data-date-format="dd.mm.yyyy" />
                </div>
            </div>
        </div>
        <div class="form-group form-group-xs _criteria">
            <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">
                Status</label>
            <div class="col-xs-8 col-sm-9 col-md-8">
                <select id="status" class="cursor-1 mandatory" style="width: 100%;">
                    <option class="cursor-1"></option>
                    <option class="cursor-1">Downloaded</option>
                    <option class="cursor-1">Registered</option>
                    <option class="cursor-1">Completed</option>
                </select>
            </div>
        </div>
      <div class="form-group form-group-xs _criteria">
        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">
          Customer NPWP
        </label>
        <div class="col-xs-8 col-sm-9 col-md-8">
          @*<input id="txtdesc" type="text" class="form-control" style="height: 26px; width: 210px;" />*@
          @*<input type="text" class="navsearchinput" id="navtxtdesc" autocomplete="off" style="height: 26px; width: 210px;" />*@
          <div class="input-group pos-rel" style="width: 100%;">
            <input id="navtxtdesc" class="form-control autocomplete" type="text" value="" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="form-group form-group-xs _criteria">
            <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">
                Download Date</label>
            <div class="col-xs-8 col-sm-9 col-md-8">
                <div class="input-group">
                    <span class="input-group-addon" style="cursor: pointer;"><i class="fa fa-calendar bigger-110">
                    </i></span>
                    <input class="form-control" type="text" name="date-range-picker" id="id-date-range-picker-1"
                        data-date-format="dd.mm.yyyy" />
                </div>
            </div>
        </div>
        <div class="form-group form-group-xs _criteria">
            <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">
                Tax Invoice No</label>
            <div class="col-xs-8 col-sm-9 col-md-8">
                @*<input id="txtdesc" type="text" class="form-control" style="height: 26px; width: 210px;" />*@
                @*<input type="text" class="navsearchinput" id="navtxtdesc" autocomplete="off" style="height: 26px; width: 210px;" />*@
                <div class="input-group pos-rel" style="width: 100%;">
                    <input id="navtxtdesc" class="form-control autocomplete" type="text" value="" />
                </div>
            </div>
        </div>      
    </div>
</div>
<div class="row" style="margin-bottom: 10px;">
    <div class="col-xs-6" style="margin-top: 5px;">
    </div>
    <div class="col-xs-6 text-right">
        <div class="form-group-xs _criteria">
            <button type="button" class="btn btn-primary btn-xs" onclick="javascript:searchData()">
                Search</button>
            <button type="reset" class="btn btn-default btn-xs" onclick="javascript:clearData()">
                Clear</button>
        </div>
    </div>
</div>
</form>
