<form role="form" class="form-horizontal _criteria" id="searchForm">
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="form-group form-group-xs _criteria">
            <label class="col-xs-4 col-sm-4 col-md-4 control-label text-muted">
                Mat Doc No</label>
            <div class="col-xs-8 col-sm-8 col-md-8">
                <input type="text" id="matDocNoFrom" class="form-control" onkeypress="onEnterProcessSAP(event);" />
            </div>
        </div>
        <div class="form-group form-group-xs _criteria">
            <label class="col-xs-4 col-sm-4 col-md-4 control-label text-muted">
                Document Date</label>
            <div class="col-xs-8 col-sm-8 col-md-8">
                <div class="input-group" style="cursor: pointer;">
                    <input class="form-control date-picker" id="docDateFrom" type="text" data-date-format="dd.mm.yyyy" />
					<span class="input-group-addon">
						<i class="fa fa-calendar bigger-110"></i>
					</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="form-group form-group-xs _criteria">
            <div class="col-xs-8 col-sm-8 col-md-4" style="text-align:center">
                <select id="dropDown1" class="cursor-1" style="width: auto" onkeypress="onEnterProcessSAP(event);">
                    <option class="cursor-1" value="EQ">EQ</option>                
                    <option class="cursor-1" value="BT">BT</option>
                </select>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8">
                <input type="text" id="matDocNoTo" class="form-control" onkeypress="onEnterProcessSAP(event);" />
            </div>
        </div>
        <div class="form-group form-group-xs _criteria">
            <div class="col-xs-8 col-sm-8 col-md-4" style="text-align:center">
                <select id="dropDown2" class="cursor-1" style="width: auto" onkeypress="onEnterProcessSAP(event);">
                    <option class="cursor-1" value="EQ">EQ</option>                
                    <option class="cursor-1" value="BT">BT</option>
                </select>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8">
                <div class="input-group" style="cursor: pointer;">
                    <input class="form-control date-picker" id="docDateTo" type="text" data-date-format="dd.mm.yyyy" />
					<span class="input-group-addon">
						<i class="fa fa-calendar bigger-110"></i>
					</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom: 10px;">
    <div class="col-xs-12" style="margin-top: 5px;">
    </div>
    <div class="col-xs-12 text-left">
        <div class="form-group-xs _criteria">
            <button type="button" id="btnSaping" class="btn btn-primary btn-xs" onclick="javascript:saping()">
                Sap
            </button>
        </div>
    </div>
</div>
</form>
