<form role="form" class="form-horizontal _criteria" id="searchFormMobile" action="@Html.Toyota().Page.GetControllerUrl("InvoiceReceiving")">
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="form-group form-group-xs _criteria">
            <label class="col-xs-4 col-sm-4 col-md-4 control-label text-muted">
                Certificat ID</label>
            <div class="col-xs-8 col-sm-8 col-md-8">
                <input type="text" id="txtCertificate" class="form-control" />
            </div>
        </div>
        @*<div class="form-group form-group-xs _criteria">
            <div class="text-right" style="margin-right: 12px;">
                <button type="submit" class="btn btn-primary btn-xs" style="width: 70px;">
                    Accept</button>
                <button type="button" class="btn btn-danger btn-xs btn-reject" style="width: 70px;">
                    Reject</button>
            </div>
        </div>*@
    </div>
</div>
</form>